<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="slide">
    <div class="content-wrap">
      <div>
        <span class="label">Цифровое агентство полного цикла <a href="https://rovno.dev"
            style="color:inherit; text-decoration: none;" target="_blank">Rovno.dev</a> представляет:</span>
        <h1 class="t-huge">{{hero_title}}<br /><span class="accent">{{hero_subtitle}}</span></h1>
        <a href="https://rovno.dev/projects" class="btn-primary">Смотреть проекты</a>
      </div>
      <p style="font-size: 16px; color: var(--text-low);">Сгенерировано с использованием <span><a
            href="https://github.com/unidoka/amorfa">ИИ-технологий</a></span> за 3.67 сек. Изображения заменены на
        примерные. Мы удаляем материалы после отправки. Конечный результат будет лучше.</p>
    </div>
    <div class="footer"><span><a href="https://rovno.dev" style="color:inherit; text-decoration: none;"
          target="_blank">ROVNO.DEV</a></span><span>2026</span>
    </div>
  </section>
  <section class="slide">
    <span class="label">Mockup Preview</span>
    <h2 class="t-large">Общий<br /><span class="accent">Вид</span></h2>
    <div class="gallery-item part-hidden"><img src="data:image/png;base64,{{FULL_SCREENSHOT}}"></div>
  </section>
  {{SECTION_GALLERY}}
  <section class="slide" style="justify-content: center;">
    <span class="label">Ready to start?</span>
    <h1 class="t-large" style="margin-bottom: 40px;">Обсудим<br /><span class="accent">Ваш Проект?</span></h1>
    <div class="cta-buttons">
      <a href="https://rovno.dev/order" class="btn cta">Оформить заказ</a>
    </div>
    <div class="socials">
      <span class="label">Наши соц. сети</span>
      <nav class="socials__btns">
        <a href="https://t.me/rovno_dev" target="_blank" class="btn text" aria-label="Telegram">
          <img src="https://i.rovno.dev/images/mail/rovno.dev/tg.png" alt="tg-icon">
        </a>
        <a href="https://vk.com/rovno_dev" target="_blank" class="btn text" aria-label="VK">
          <img src="https://i.rovno.dev/images/mail/rovno.dev/vk.png" alt="vk-icon">
        </a>
        <a href="https://pinterest.com/rovno_dev" target="_blank" class="btn text" aria-label="Pinterest">
          <img src="https://i.rovno.dev/images/mail/rovno.dev/pinterest.png" alt="pinterest-icon">
        </a>
        <a href="https://dprofile.ru/rovno_dev" target="_blank" class="btn text" aria-label="Dprofile">
          <img src="https://i.rovno.dev/images/mail/rovno.dev/dprofile.png" alt="dprofile-icon">
        </a>
        <a href="https://github.com/rovno-dev" target="_blank" class="btn text" aria-label="GitHub">
          <img src="https://i.rovno.dev/images/mail/rovno.dev/github.png" alt="github-icon">
        </a>
      </nav>
    </div>
  </section>
</body>

</html>